.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

h1{
    text-align: center;
}

@media(width<=350px){
    .gallery__img{
        width: 250px;
    }
}